<!--<div>-->
<!--    <p>{{name}}</p>-->
<!--    <p>{{address}}</p>-->
<!--</div>-->


<!--<div>-->
<!--    <p>{{info.name}}</p>-->
<!--    <p>{{info.address}}</p>-->
<!--</div>-->


<!--<div>-->
<!--    <p>{{info.name}}</p>-->
<!--    <p>{{info.address}}</p>-->
<!--    <p>{{info.age}}</p>-->
    
<!--</div>-->


<!--<div>-->
<!--    <p>{{info.name}}</p>-->
<!--    <p>{{info.address}}</p>-->
<!--    <p>{{info.age}}</p>-->
    
<!--    <input type="text" name="" ng-model="info.age"/>-->
<!--</div>-->


<div>
    <p>{{info.name}}</p>
    <p>{{info.address}}</p>
    <p>{{info.age}}</p>
    
    <div ng-controller="CompanyController">
        <company-address>CompanyAddress is <br/> {{companyaddress}}</company-address>
    </div>
</div>
